<md-toolbar></md-toolbar>
<div class="add-header">
  <h2>Add a new service!</h2>
</div>
<div class="container main-container">
  <h3>Choose one service to add</h3>
  <md-card>
    <md-card-content>
      <div class="row">
        <md-input-container class="col-lg-2 col-md-2 col-sm-3 col-xs-4 button-container">
          <input mdInput type="text" name="title" [(ngModel)]="filterText" placeholder="Search">
        </md-input-container>
        <i class="col-lg-2 col-md-2 col-sm-3 col-xs-4 material-icons">search</i>
      </div>
      <div class="row">
        <div *ngFor="let icon of icons | serviceFilter: filterText"
             class="col-lg-2 col-md-2 col-sm-3 col-xs-4 button-container">
          <button id="{{icon.title}}" ngClass="{{icon.class}}" (click)="ServiceDialog(icon.title)">
            <label class="my-text">{{icon.title}}</label>
          </button>
        </div>
      </div>
    </md-card-content>
  </md-card>
</div>
