<div class="container-fluid view-container">
  <md-toolbar>
  </md-toolbar>
  <div class="img-container support-container vertical-middle-align">
  </div>
</div>
<div class="container-fluid main-container" style="margin-top: 5px">
  <md-card>
    <md-card-header>
      <md-card-title>
        <h2>Support</h2>
      </md-card-title>
    </md-card-header>
    <md-card-content>
      <div>
        <h2 class="text-container">Questions You May Have</h2>
        <h3 class="text-container-h3">How can you choose what notification you get?</h3>
        <h3 class="text-container-h3">Where can you find all the settings?</h3>
        <h3 class="text-container-h3">How can you can you change or reset your password??</h3>
        <h3 class="text-container-h3">How can you check your informed consents?</h3>
      </div>
    </md-card-content>
  </md-card>
</div>
