<div class="container-fluid view-container">
  <md-toolbar>
  </md-toolbar>
  <div class="img-container dashboard-container vertical-middle-align">
  </div>
</div>
<div class="container-fluid main-container" style="margin-top: 10px">
  <md-card>
    <md-card-header>
      <md-card-title>
        <h1>About</h1>
      </md-card-title>
    </md-card-header>
    <md-card-content>
      <div>
        <h2 class="text-container">Internet of Services Lab <br> Our contribution to protect the data of people</h2>
        <p>This Project aims to provide a dashboard for a user which can be any individual, company or organization who uses different
          software application and services that lets the service company access some of our personal information.
          These companies can have the users contact information, access to our device media, browsing history and so on.
        </p>
        <p>
          These personal or behavioural data can be used by the companies to Sell to third parties, for Advertisements, for Content curation,
          and for many Other future applications. Our concern is for the fact that, most of the times the user is not aware of these
          information collection. This concern about protection of personal data lead the EU commission to come up with a law that will
          help protect people's personal data which will come into effect from 2018. As per this law the companies are required to provide
          the TRANSPARENCY about any user data that have been collected by them. And, also let the users access their right of informed consent,
          provide notifications and ask permission before using their data for certain goals, eraser data and modify.
        </p>
        <p>
          We want to build a so-called Privacy Dashboard, a GDPR-compliant tool, which should not only give users access to collected data,
          but would also give them the ability to take action on their data. And Google Dashboard doesn’t fulfil our requirement here.
          Because our goal here is to create a single dashboard which will allow the users to view the data access information from all
          the companies.
        </p>
         <p>
          We also know or suggest, that many companies store a lot of data, which makes it harder to visualize them in a comprehensive way.
          So, our other main goal is not to display data in a table format, but also try to visualize the data in way, that it enhances
          the overall usability of the platform.
        </p>
      </div>
    </md-card-content>
  </md-card>
</div>
