@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';


.vertical-offset-100{

  padding-top:70px;
}

.container {
  height: 100vh;
}


h4{
 align: center;
}

.center-align{
  display: flex;
  justify-content: center;
}

