<md-toolbar></md-toolbar>
<div class="main-container">
  <header>
    <div class="header-content">
      <div class="header-content-inner">
        <h1 id="homeHeading">take back the control of your privacy, and yourself</h1>
        <hr>
        <div class="header-content-inner">
          <button md-button routerLink="../login">Login</button>
          <button md-button routerLink="../signup">Sign Up</button>
        </div>
        <div>
          <button class="margintop" md-raised-button pageScroll pageScrollSpeed="2500" href="#awesomePart" color="warn">learn more</button>
        </div>
      </div>
    </div>
  </header>
</div>

<!--<header class="secondImg">-->
  <!--<div id="awesomePart">-->
  <!--</div>-->
<!--</header>-->



