<md-toolbar></md-toolbar>
<div class="main-container main-gdpr">
  <div class="container">
    <div class="row vertical-offset-100">
      <div class="col-xs-9-md-offset-3">
        <md-card>
          <h4>What is GDPR?</h4>

          <md-card-content>
            <p style="font-size: medium">The General Data Protection Regulation (GDPR) (Regulation (EU) 2016/679) is a regulation by which the European Parliament, the Council of the European Union and the European Commission intend to strengthen and unify data protection for all individuals within the European Union (EU). The GDPR will apply in all EU member states from 25 May 2018</p>
          </md-card-content>

        </md-card>
        <br>

        <div class="row">
          <div class="col-sm-3">
            <md-card class="md-card-green">
              <md-card-title> <i class="material-icons">folder_open</i></md-card-title>
              <md-card-content>

                <p style="font-size: medium">Easier access to privacy data that has been collected</p>
              </md-card-content>
            </md-card>
          </div>
          <div class="col-sm-5">
            <md-card class="md-card-yellow">
              <md-card-title> <i class="material-icons">delete_forever</i></md-card-title>
              <md-card-content>
                <p style="font-size: medium">Right to rectify and remove data, inlcuding the 'right to be forgotten' for data collected as a child</p>
              </md-card-content>
            </md-card>
          </div>
          <div class="col-sm-4">
            <md-card class="md-card-orange">
              <md-card-title> <i class="material-icons">clear_all</i></md-card-title>
              <md-card-content>
                <p style="font-size: medium">More and clearer information about processing</p>
              </md-card-content>
            </md-card>
          </div>

        </div>
        <br>
        <div class="row">
          <div class="col-sm-3">
            <md-card class="md-card-yellow">
              <md-card-title><i class="material-icons">notifications_active</i></md-card-title>
              <md-card-content>
                <p style="font-size: medium">Right to notification if data is compromised</p>
              </md-card-content>
            </md-card>
          </div>

          <div class="col-sm-6">
            <md-card class="md-card-orange">
              <md-card-title> <i class="material-icons">assignment_late</i></md-card-title>
              <md-card-content>
                <p style="font-size: medium">Limits on the use of automated processing of data to make decisions, for example in the case of 'profiling'</p>
              </md-card-content>
            </md-card>
          </div>
          <div class="col-sm-3">
            <md-card class="md-card-green">
              <md-card-title><i class="material-icons">check_box</i></md-card-title>
              <md-card-content>
                <p style="font-size: medium">Clear consent required to process data</p>
              </md-card-content>
            </md-card>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm-4">
            <md-card class="md-card-green">
              <md-card-title><i class="material-icons">security</i></md-card-title>
              <md-card-content>
                <p style="font-size: medium">stricter safeguards for transfer of personal data outside the EU</p>
              </md-card-content>
            </md-card>
          </div>
          <div class="col-sm-4">
            <md-card class="md-card-yellow">
              <md-card-title><i class="material-icons">archive</i></md-card-title>
              <md-card-content>
                <p style="font-size: medium">Right to move data from one service provide to another</p>
              </md-card-content>
            </md-card>
          </div>
          <div class="col-sm-4">
            <md-card>
              <div class="row">
                <div class="col col-sm-5">
                  <md-card-content>
                    <br>
                    <p >@European Union 2015</p>
                  </md-card-content>
                </div>
                <div class="col col-sm-4">
                  <img src="../../../assets/img/examples/european-clipart-clipart-eu-flag-6df5.png">
                </div>
              </div>
            </md-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
